/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

main {
    padding: 20px;
}

h1, h3 {
    color: #333;
}

/* Estilos para la tabla de productos */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f4f4f4;
}

td img {
    display: block;
    margin: 0 auto;
}

button {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

/* Estilos para la paginación */
section > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

section > div a button {
    background-color: #007bff;
    border: none;
    padding: 10px 15px;
    color: #fff;
    cursor: pointer;
}

section > div a button:hover {
    background-color: #0056b3;
}
